.RecoverPasswordPage-main {
  padding-top: 3.5rem;
  padding-bottom: 4rem;
}

.RecoverPasswordPage-main-heading {
  padding-bottom: 2rem;
}

.RecoverPasswordPage .LabeledInputField {
  padding-bottom: 1.4rem;
}