.ChatRoom-Reply {
  position: relative;
  top: 2.5rem;
  left: 4rem;
}

.ChatRoomContent-Message {
  overflow: auto;
  padding: 4rem;
  height: 50rem;
}

.ChatRoomContent-MessageBox {
  padding: 0rem 2rem 3rem 1rem;
  background-color: #ececec;
  min-width: 5rem;
  max-width: 30rem;
  border-radius: 1rem;
}