.ItemCard {
  position: relative;
  width: 395px;
  border-radius: 15px;
  background-color: #ffffff;
  box-shadow: var(--shadow-card-normal);
  font-family: var(--font-family-global);
}

.ItemCard a {
  text-decoration: none;
}

.ItemCard-item-image {
  border-radius: 15px 15px 0 0;
  width: 100%;
  height: 18rem;
  background-size: cover;
}

.ItemCard-item-info {
  padding: 12px 20px 15px 20px;
}

.ItemCard-item-name {
  font-weight: bold;
  font-size: 1.1rem;
  line-height: 21px;
  color: var(--black);
}

.ItemCard-item-owner {
  padding-top: 8px;
  font-size: 0.9rem;
  color: var(--grey);
}

.ItemCard-item-owner span {
  text-decoration: underline;
}

.ItemCard-item-description {
  padding-top: 20px;
  padding-bottom: 3rem;
  font-size: 0.94rem;
  line-height: 1.4rem;
  color: var(--lighter-black);
}

.ItemCard-LikeButton-container {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.ItemCard-LikeButton-container .LikeButton {
  display: block;
}
