.ChatroomContent {
  width: 75%;
  position: relative;
}

.ChatroomContent-trade {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 1rem 2rem;
  background-color: var(--light-grey);
}

.ChatroomContent-trade .DropdownButton {
  margin-right: 2rem;
}

.ChatroomContent-messages {
  padding-left: 2.78rem;
  padding-right: 2.78rem;
  height: 30rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column-reverse;
  z-index: 6;
}

.ChatroomContent-reply {
  position: absolute;
  bottom: 0;
  width: 98%;
  padding-top: 2.67rem;
  padding-left: 2.78rem;
  padding-right: 2.78rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  z-index: 5;
}

.ChatroomContent-reply .LabeledInputField {
  width: 100%;
}

.ChatroomContent-reply .LabeledInputField input {
  width: 95%;
}