.ChatroomContent {
  width: 75%;
  position: relative;
}

.ChatroomContent-messages {
  padding-top: 2.67rem;
  padding-left: 2.78rem;
  padding-right: 2.78rem;
  height: 34rem;
  overflow-y: scroll;
  z-index: 6;
}

.ChatroomContent-reply {
  position: absolute;
  bottom: 0;
  width: 98%;
  padding-top: 2.67rem;
  padding-left: 2.78rem;
  padding-right: 2.78rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  z-index: 5;
}

.ChatroomContent-reply .LabeledInputField {
  width: 100%;
}

.ChatroomContent-reply .LabeledInputField input {
  width: 95%;
}