.ChatroomPage .ChatroomContent-hamburger {
  display: none;
}

@media (max-width: 960px) {
  .ChatroomPage .Chatroom-Nav {
    width: 40%;
    height: 100%;
    padding-top: 5rem;
    position: absolute;
    z-index: 8;
    display: none;
  }

  .ChatroomPage .ChatroomContent {
    width: 100%;
  }

  .ChatroomPage .ChatroomContent-hamburger {
    display: inline-block;
    position: absolute;
    top: 1.6rem;
    left: 2rem;
    z-index: 8;
  }

  .ChatroomPage .ChatroomContent-hamburger svg {
    width: 1.2rem;
  }
}

@media (max-width: 640px) {
  .ChatroomPage .ChatroomContent-trade-bar .DropdownButton {
    margin-right: 0;
  } 
}