.ChatMessage {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.22rem;
}

.ChatMessage-container {
  padding: 1.11rem;
  display: inline-block;
  border-radius: 5px;
  max-width: 18rem;
  background: #F2F2F2;
}

.ChatMessage-user-info {
  display: flex;
  align-items: center;
  padding-bottom: 0.22rem;
}

.ChatMessage-user-name {
  padding-left: 0.44rem;
  font-weight: 600;
  color: var(--purple);
}

.ChatMessage-user-image {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  background-size: cover;
  background-color: var(--grey);
}

.ChatMessage-message {
  padding-left: calc(0.44rem + 64px);
}