.Item {
  height: 40rem;
  margin: 3rem 3rem 5rem 5rem;
  width: 85rem;
  border-radius: 1.5rem;
  box-shadow: var(--shadow-card-normal);
  clear: both;
}

.Item-Photo {
  height: 80%;
  position: relative;
  width: 42%;
}

.Item-Photo img {
  max-width: 90%;
  max-height: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Item-Photo-Nav {
  width: 10%;
  padding-top: 2rem;
  overflow: hidden;
}

.Item-Detail {
  width: 40%;
  padding-top: 3rem;
  padding-left: 1rem;
}

.Item-Photo,
.Item-Photo-Nav,
.Item-Detail {
  margin-left: 2rem;
  margin-top: 2rem;
  float: left;
}

.Item-Photo-Box img {
  width: inherit;
  height: inherit;
}

.Item-Photo-Box {
  box-shadow: var(--shadow-card-normal);
  margin: 1rem;
  width: 7rem;
  height: 7rem;
}

.Item-Detail p {
  margin-top: 2rem;
  height: 10rem;
  margin-right: 3rem;
  margin-bottom: 2rem;
  text-align: left;
}

.LikeButton {
  margin-bottom: 10rem;
}

.Item-Detail .Button {
  background-color: var(--purple);
  color: white;
}
