.Logo {
  display: inline-block;
  border-radius: 0.5rem;
  font-family: var(--font-family-global);
  font-size: 1.33rem;
  font-weight: 300;
}

.Logo span {
  font-weight: 600;
}

.Logo-with-background {
  color: #ffffff;
  background-color: var(--black);
}
