.ProfilePage-user-items {
  padding-top: 4.4rem;
  padding-bottom: 3.5rem;
}

.ProfilePage-user-items h2 {
  padding-bottom: 1.78rem;
}

.ProfilePage-user-items-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr auto;
  grid-column-gap: 3%;
  grid-row-gap: 3rem;
}

.ProfilePage-user-items-content .ItemCard {
  width: auto;
}