.LabeledInputField-label {
  display: block;
  padding-bottom: 6px;
  font-family: var(--font-family-global);
  font-size: 1rem;
  font-weight: 600;
  color: var(--lighter-black);
}

.LabeledInputField-input {
  width: 18rem;
  padding: 0.72rem 0.56rem;
  background-color: var(--light-grey);
  border-radius: 3px;
  border: none;
  outline: none;
  font-family: var(--font-family-global);
  font-weight: 600;
  font-size: 1rem;
}

.LabeledInputField-input::placeholder {
  color: var(--dark-grey);
}