.textField{

    padding: 13px 10px;
    background-color: var(--light-grey);
    border-radius: 3px;
    border: none;
    outline: none;
    font-family: var(--font-family-global);
    font-weight: 500;
    font-size: 1rem;
    margin-right: 1.5rem;

}

.textField::placeholder {
    color: var(--dark-grey);
}