.RecoverAccountPage-main {
  padding-top: 3.5rem;
}

.RecoverAccountPage-main-recover-section {
  padding-top: 2rem;
  padding-bottom: 8rem;
}

.RecoverAccountPage-main-recover-section .Button {
  margin-top: 2rem;
}