.CreateAccountModal-form .Button {
  background-color: var(--purple);
  color: #ffffff;
  transition: background 150ms ease-in-out;
}

.CreateAccountModal-form .Button:hover:enabled {
  background-color: var(--dark-purple);
}

.CreateAccountModal-form .LabeledInputField {
  padding-bottom: 1.4rem;
}

.CreateAccount-name-input .LabeledInputField:first-child {
  margin-right: 2rem;
}

.CreateAccount-name-input .LabeledInputField-input {
  width: auto;
  min-width: auto;
}

.CreateAccountModal-form .LabeledInputField-input {
  width: 100%;
}

.CreateAccount-name-input {
  display: flex;
  justify-content: space-between;
}

.CreateAccount-user-image {
  padding-bottom: 1.4rem;
}

.CreateAccount-user-image label {
  display: block;
  padding-bottom: 6px;
  font-family: var(--font-family-global);
  font-size: 1rem;
  font-weight: 600;
  color: var(--lighter-black);
}

@media (max-width: 640px) {
  .CreateAccount-name-input {
    flex-direction: column;
  }

  .CreateAccount-name-input .LabeledInputField:first-child {
    margin-right: 0;
  }
}