.ChatroomPage .ChatroomContent-hamburger {
  display: none;
}

.ChatroomPage-nothing-msg {
  padding-top: 3rem;
  padding-bottom: 3rem;
  font-size: 1.5rem;
  text-align: center;
}

.ChatroomPage-nothing-msg span {
  font-size: 3rem;
}

@media (max-width: 960px) {
  .ChatroomPage .Chatroom-Nav {
    width: 60%;
    height: 100%;
    padding-top: 5rem;
    position: absolute;
    z-index: 8;
    display: none;
  }

  .ChatroomPage .ChatroomContent {
    width: 100%;
  }

  .ChatroomPage .ChatroomContent-hamburger {
    display: inline-block;
    position: absolute;
    top: 1.6rem;
    left: 2rem;
    z-index: 8;
  }

  .ChatroomPage .ChatroomContent-hamburger svg {
    width: 1.2rem;
  }
}

@media (max-width: 640px) {
  .ChatroomPage .ChatroomContent-trade-bar .DropdownButton {
    margin-right: 0;
  } 
}