.VerifyYourEmailPage {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.VerifyYourEmailPage span {
  font-size: 3.5rem;
}

.VerifyYourEmailPage .VerifyYourEmailPage-back-to-home,
.VerifyYourEmailPage .VerifyYourEmailPage-back-to-home:visited {
  line-height: 4.5rem;
  color: var(--purple);
}