.LoginModal-form .Button {
  background-color: var(--purple);
  color: #ffffff;
  transition: background 150ms ease-in-out;
}

.LoginModal-form .Button:hover:enabled {
  background-color: var(--dark-purple);
}

.LoginModal-form .LabeledInputField {
  padding-bottom: 1.4rem;
}

.LoginModal-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.LoginModal-actions a {
  color: var(--black);
  font-size: 1rem;
  transition: color 200ms ease-in-out;
}

.LoginModal-actions a:hover {
  color: var(--dark-grey);
}