.TranscationHistory {
  font-family: var(--font-family-global);
  text-align: left;
  padding: 3rem 3rem 5rem 5rem;
}

h1 {
  padding-bottom: 2rem;
}

th {
  width: 25%;
}
.Transcation-Table {
  font-size: 1rem;
  font-weight: normal;
  width: 95%;
  line-height: 3;
  border-radius: 1.5rem;
  box-shadow: var(--shadow-card-normal);
  padding: 3rem 5rem 3rem 9rem;
  align-content: center;
}

.Title {
  font-size: 1.5rem;
}

.Complete {
  color: var(--dark-grey);
}

.In {
  color: var(--purple);
}

.Confirmation {
  color: var(--lightcoral);
}
